@font-face {  
  font-family: "FontAwesome";  
  src: url("fonts/fontawesome-webfont.eot");  
  src: url("fonts/fontawesome-webfont.eot?#iefix") format('eot'),   
       url("fonts/fontawesome-webfont.woff") format('woff'),   
       url("fonts/fontawesome-webfont.ttf") format('truetype'),   
       url("fonts/fontawesome-webfont.svg#FontAwesome") format('svg');  
  font-weight: normal;  
  font-style: normal;  
}  
@font-face {  
  font-family: "BREECBO";  
  src: url("fonts/BREECBO.TTF");
  font-weight: normal;  
  font-style: normal;  
}  
@font-face {  
  font-family: "Hardboiled";  
  src: url("fonts/Blazed.ttf");
  font-weight: bold;  
  font-style: normal;  
}  
#start {  
    font-family: "FontAwesome";  
    color: rgb(255,0,0);  
    text-shadow: 0px 1px 1px rgba(250,250,250,0.1);  
    font-size: 12pt;  
    display: block;  
    position: relative;  
    text-decoration: none;  
    background-color: rgb(83,87,93);  
    box-shadow: 0px 3px 0px 0px rgb(255,34,34), /* 1st Shadow */  
                0px 7px 10px 0px rgb(255,17,17), /* 1nd Shadow */  
                inset 0px 1px 1px 0px rgba(250, 0, 0, .2), /* 3rd Shadow */   
                inset 0px -12px 35px 0px rgba(255, 0, 0, .5); /* 4th Shadow */  
    width: 70px;  
    height: 70px;  
    border: 0;  
    border-radius: 35px;  
    text-align: center;  
    line-height: 19px;  
    /*Custom css*/
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 3px 31px 11px rgb(255, 0, 0);
}  

#start:before {  
    content: "";  
    width: 80px;  
    height: 80px;  
    display: block;  
    z-index: -2;  
    position: absolute;  
    background-color: rgb(26,27,29);  
    left: -5px;  
    /*top: -2px;  */
    border-radius: 40px;  
    box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1),   
                inset 0px 1px 2px rgba(0, 0, 0, 0.5);  
}  
#start:active {  
    box-shadow: 0px 0px 0px 0px rgb(34,34,34), /* 1st Shadow */  
                0px 3px 7px 0px rgb(17,17,17), /* 2nd Shadow */  
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
                inset 0px -10px 35px 5px rgba(0, 0, 0, .5); /* 4th Shadow */  
    background-color: rgb(83,87,93);  
    /*top: 3px;  */
}  
#start:active {  
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),  
                0px 3px 7px 0px rgb(17,17,17),   
                inset 0px 1px 1px 0px rgba(250, 250, 250, .2),   
                inset 0px -10px 35px 5px rgba(0, 0, 0, .5);  
    background-color: rgb(83,87,93);  
    /*top: 3px;  */
    color: #fff;  
    text-shadow: 0px 0px 3px rgb(250,250,250);  
}  
#start:active:before, #start:target:before {  
    /*top: -5px;  */
    background-color: rgb(26,27,29);  
    box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1),   
                inset 0px 1px 2px rgba(0, 0, 0, 0.5);  
}  
#start {  
transition: color 50ms, text-shadow 350ms;  
    -o-transition: color 350ms, text-shadow 350ms;  
    -moz-transition: color 350ms, text-shadow 350ms;  
    -webkit-transition: color 50ms, text-shadow 350ms;  
}  
#start span{
    top: 6px;
    position: absolute;
    /* background: red; */
    left: -1px;
}
/*----------------------*/

.fsSubmitButton
{
padding: 10px 15px 11px !important;
font-size: 18px !important;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/*----------------------*/
#round{
width:100px; /*same as the height*/
height:100px; /*same as the width*/
background-color:#ff0000;
border:1px solid #ff0000; /*same colour as the background*/
color:#fff;
font-size:1.6em;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
#round:hover{
background:#c20b0b;
border:1px solid #c20b0b;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

/*---------------------------*/

