a,button{
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:none;
    border:none;
    /*outline: none;*/
}

/****************************************/
/* common styles used for v1 through v4 */
/****************************************/

body          { font-family: Arial, Helvetica, sans-serif; margin: 0;}
#stats        { border: 2px solid black; }
#controls     { width: 28em; float: left; padding: 1em; font-size: 0.7em; }
#controls th  { text-align: right; vertical-align: middle; }
#instructions { clear: left; float: left; width: 17em; padding: 1em; box-shadow: 0 0 5px black; }
#racer        { position: relative; z-index: 0; /*width: 640px; height: 480px;*/}
#canvas       { position: absolute; z-index: 0; /*width: 640px; height: 480px;*/ background-color: transparent; }
#mute         { background-position: 0px 0px;
	z-index: 3;
width: 32px;
height: 32px;
background: url(images/mute.png);
display: block;
cursor: pointer;
position: fixed;
left: 0.5em;
bottom: 1em;}
#mute.on      { background-position: -32px 0px; }

/**************************************************/
/* rudimentary heads up display (only used in v4) */
/**************************************************/

#hud                   { position: fixed;
z-index: 1;
font-family: Verdana, Geneva, sans-serif;}
#hud .hud              { background-color: rgba(255,255,255,0.6); padding: 5px; border: 1px solid black; margin: 5px 5px; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud #speed            { float: right; position: absolute;}
#hud #points           { right: 0; position: absolute;}
#hud #current_lap_time { float: left; display: none !important;  }
#hud #last_lap_time    { float: left; display: none !important;  }
#hud #fast_lap_time    { display: none !important; width: 12em;  margin: 0 auto; text-align: center; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud .value            { color: black; font-weight: bold; }
#hud .fastest          { background-color: rgba(255,215,0,0.5); }


#controller{
	z-index: 1;
	position: fixed;
	/*margin-top: 48px;*/
	display: none;
}
#controller div {
	border: 1px dashed rgba(0,0,0,0.47);
	position: absolute;
	opacity: 0.6;
	background-color: #B97A82;
	/*for bottom Div*/
	bottom: 0;	
}

.bkg{
	width: 100%;
	height: 300px;
	background: url("images/bkgScenery.jpg") no-repeat center;
	background-size: cover;
	position: absolute;
	z-index: 0;
}

#gameBody{
	display: none;
	background: url("images/ground.jpg") no-repeat center;
	background-size: cover;
	background-position-y: 300px;
}

.hiddenElem{
	display: none;
}

#mainMenu{
	background: url("images/bkg.jpg") no-repeat center;
	background-size: cover;
 	background-position-x: -319px;
 	/*-webkit-filter: blur(2px);*/
}
#mainMenu input,a{
	z-index: 2;
}
.modal{
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(10,10,10,0.7);
	top: 0;
}
#pauseScreen{
	display: none;
	/*position: fixed;*/
	z-index: 2;
}
#gameOver{
	display: none;
	/*position: absolute;*/
	z-index: 2;
}
#pauseScreen a, #gameOver a{
	display: block;
	height: 8em;
	width: 10em;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 3px rgb(250,250,250);  
}
.title{
	font-family: "BREECBO";
	position: absolute;
	color: #03b30d;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	font-size: 2em;
	text-shadow: 0px 0px 3px rgb(250,250,250);  
	z-index: 2;
	text-align: center;
}

#highScore{
	font-family:"Hardboiled";
	text-align: center;
	font-size: 0.5em;
	color: yellow;
	letter-spacing: 6px;
}
#highScore span{
	font-family:"Hardboiled";
}

#healthBar{
	background: -moz-linear-gradient(left, #ff3232 0%, #ff3030 51%, #e5e5e5 51%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(51%,#ff3030), color-stop(51%,#e5e5e5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3232 0%,#ff3030 51%,#ff3232 51%,#ff3232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ff3232 0%,#ff3030 51%,#e5e5e5 51%,#e5e5e5 100%); /* Opera11.10+ */
    background: linear-gradient(left, #ff3232 0%,#ff3030 51%,#e5e5e5 51%,#e5e5e5 100%); /* W3C */

	width: 0.5em;
	border : 2px solid black;
	border-radius: 1em;
	position: absolute;
	left: 0.3em;
	top: 150px;
	margin: auto !important;
}

.health75{
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#e5e5e5 25%,#ff3232 25%,#ff3232 100%) !important; /* Chrome10+,Safari5.1+ */
}
.health50{
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#e5e5e5 50%,#ff3232 50%,#ff3232 100%) !important; /* Chrome10+,Safari5.1+ */
}
.health25{
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#e5e5e5 75%,#ff3232 75%,#ff3232 100%) !important; /* Chrome10+,Safari5.1+ */
}
.health0{
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#e5e5e5 100%,#ff3232 100%,#ff3232 100%) !important; /* Chrome10+,Safari5.1+ */
}
